<%- include('../layouts/header'); -%>
<body>
  <div class="container">
    <%- include('../layouts/nav'); -%>
    <div class="row mt-4">
      <div class="col">
        <h2>Information</h2>
        <ul>
          <li>
            <strong>Name</strong>
            <p>Vedant Kalpesh Patel</p>
          </li>
        </ul>
      </div>
    </div>
    <%- include('../layouts/footer'); -%>
  </div>
</body>
