<nav class="navbar mt-3 navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" href="/" style="font-size: 20px">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Form" style="font-size: 20px">Form</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/TodayTask" style="font-size: 20px"
          >Todays Task</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Tasks" style="font-size: 20px">Tasks</a>
      </li>
    </ul>
  </div>
</nav>
